.features {
  padding-bottom: 60px;
  padding-top: 60px;
  @include desktop {
    padding-top: var(--typical-padding);
  }
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.features__item {
  width: 100%;
  background: var(--primary-background-color);
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: var(--primary-border-radius);
  background-color: var(--secondary-background-color);
}
.features__title {
  margin-bottom: 10px;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color);
  @include tablet {
    text-align: start;
  }
  @include desktop {
    text-align: start;
  }
}
.features__text {
  @include font(null, 14px, 1.71, 0.03em);
  color: var(--secondary-text-color);
}
