.footer {
  background: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
  align-items: center;
  justify-content: center;
  @include desktop {
    display: flex;
    align-items: unset;
    justify-content: unset;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  @include mobile {
    min-width: 450px;
  }
  @include tablet {
    min-width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
  @include desktop {
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: flex-start;
  }
}
.footer-contacts {
  display: block;
  align-items: center;
  justify-content: center;
  flex-basis: content;
  padding: 0;
  @include tablet {
    margin-right: 165px;
  }
  @include desktop {
    margin-right: 0;
  }
}

.footer-logo {
  display: block;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  font-family: 'Raleway';
  padding: 0;
  @include font(700, 24px, 1.17, 0.03em);
  text-align: center;
  color: var(--primary-background-color);
  @include desktop {
    @include font(700, 26px, 1.19, 0.03em);
    text-align: unset;
  }
}
.footer-address__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include desktop {
    align-items: start;
  }
}
.footer-address__item {
  align-items: center;
  justify-content: center;
  &:not(last-child) {
    margin-bottom: 9px;
  }
}
.footer-address__link {
  font-style: normal;
  @include font(null, 14px, 1.71, 0.03em);
  text-align: center;
  color: var(--primary-background-color);
  @include desktop {
    text-align: unset;
  }
}

.footer-soc {
  width: 206px;
  align-items: center;
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 0;
  }
  @include desktop {
    margin-bottom: 0;
    margin-left: 70px;
    align-items: baseline;
  }
}
.footer-soc__title {
  margin-bottom: 20px;
  @include font(700, 14px, 1.14, 0.03em);
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-background-color);
  @include desktop {
    text-align: unset;
  }
}
.footer-soc__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-soc__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
  &:first-child {
    margin-left: 0;
  }
}

.footer-soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-background-color);
  @include transition(color);
  @include transition(border-color);
  &:hover,
  &:focus {
    background-color: var(--action-color);
    color: var(--primary-background-color);
  }
}

.footer-soc__icon {
  fill: currentColor;
}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    margin-top: 60px;
  }
  @include desktop {
    align-items: unset;
    margin-top: 0;
    margin-left: 93px;
    padding: 0;
  }
}
.subscription__title {
  display: block;
  margin-bottom: 20px;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  text-align: unset;
  color: var(--primary-background-color);
}
.footer .subscription-field {
  @include desktop {
    display: flex;
    flex-direction: row;
  }
}
.subscription-field {
  display: flex;
  flex-direction: column;
  label {
    width: 290px;
    @include mobile {
      width: 450px;
    }
    @include desktop {
      width: 358px;
      margin-right: 12px;
      flex-direction: raw;
    }
  }
}

.subscription-field__input {
  width: 290px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: var(--primary-box-shadow);
  border-radius: var(--primary-border-radius);
  background-color: transparent;
  outline: transparent;
  @include transition(border-color);
  @include transition(color);
  &:focus {
    border-color: var(--primary-background-color);
  }
  &::placeholder {
    @include font(null, 16px, 1.25, 0.03em);
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
  }
  @include mobile {
    width: 450px;
  }
  @include desktop {
    width: 358px;
  }
}

.subscription__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 29px;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  @include desktop {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
  }
}

.subscription__icon {
  margin-left: 10px;
  fill: var(--primary-background-color);
}
