.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--primary-transition-time) linear,
    visibility var(--primary-transition-time) linear;
}

.modal {
  padding: 40px;
  position: absolute;
  min-width: 250px;
  min-height: 609px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--primary-transition-time) linear;
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--primary-border-radius);
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
  @include mobile {
    width: 450px;
    height: 609px;
  }
  @include desktop {
    min-width: 528px;
    min-height: 581px;
  }
}
.modal__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include transition(color);
  &:hover {
    color: var(--action-color);
  }
}
.modal__icon-close {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal__title {
  margin-bottom: 12px;
  @include font(700, 15px, 1.15, 0.03em);
  text-align: center;
  color: var(--primary-text-color);
  @include mobile {
    @include font(700, 20px, 1.15, 0.03em);
  }
}
.modal-field {
  margin-bottom: 10px;
}
.modal-field__label-link {
  @include transition(color);
  &:focus,
  &:hover {
    color: var(--action-color);
  }
  @include tablet {
    &:focus,
    &:hover {
      color: var(--primary-text-color);
    }
  }
}

.modal-field__label {
  display: block;
  margin-bottom: 4px;
  @include font(null, 12px, 1.17, 0.01em);
  color: var(-secondary-text-color);
  @include transition(color);
}

.modal-input__wrap {
  position: relative;
}
.modal-input__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--primary-border-radius);
  background-color: transparent;
  outline: transparent;
  @include transition(border-color);
  &:focus {
    border-color: var(--action-color);
  }
}
.modal-input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  .modal-input__input:focus + & {
    fill: var(--action-color);
  }
}

.modal-field__comments {
  margin-bottom: 20px;
}
.modal-field__text {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--primary-border-radius);
  background-color: transparent;
  resize: none;
  outline: transparent;
  @include transition(border-color);
  &:focus {
    border-color: var(--action-color);
  }
  &::placeholder {
    @include font(null, 12px, 1.17, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-privacy {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-privacy__label {
  display: flex;
  align-items: center;
  justify-content: center;
  @include font(null, 5px, 1.17, 0.03em);
  color: var(--secondary-text-color);
  @include mobile {
    @include font(null, 12px, 1.17, 0.03em);
  }
  @include tablet {
    @include font(null, 12px, 1.17, 0.03em);
  }
  @include desktop {
    @include font(null, 14px, 1.71, 0.03em);
  }
}
.modal-privacy__label span {
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-privacy__check:checked + & {
    background-color: var(--action-color);
    border: none;
    border-radius: 2px;
  }
}
.modal-privacy__icon {
  fill: transparent;
  .modal-privacy__check:checked + .modal-privacy__label & {
    fill: var(--primary-background-color);
  }
}

.modal-privacy__link {
  @include font(null, 8px, 1.17, 0.03em);
  text-decoration-line: underline;
  color: var(--action-color);
  @include mobile {
    @include font(null, 12px, 1.17, 0.03em);
  }
  @include tablet {
    @include font(null, 12px, 1.17, 0.03em);
  }
  @include desktop {
    @include font(null, 14px, 1.71, 0.03em);
  }
}
.modal__btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 55px;
  @include transition(border-color);
  @include transition(box-shadow);
  &:hover,
  &:focus {
    background: var(--button-hover-color);
    box-shadow: var(--primary-box-shadow);
  }
}
