body {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
